.main-container {
  position: relative;
  /* height: 100vh; */
  height: calc(var(--vh, 1vh) * 100);
  width: 100vw;
  /* width: calc(var(--vw, 1vw) * 100); */

  margin: 0px;
  overflow: hidden;
  /* box-sizing: border-box; */
}
.overlay {
  position: absolute;
  bottom: 0;
  width: 100%;
}
.controls {
  position: absolute;
  z-index: 1000;
  bottom: 0;
  box-sizing: border-box;

  /* width: calc(100vw - 35px); */
  width: 100%;
  display: flex;
  padding: 8px 16px;
  /* justify-content: space-between; */
  justify-content: center;
  align-items: center;
}

.controls__btn {
  margin: 0 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(25, 30, 67, 0.94);
  border-radius: 15px;
  backdrop-filter: blur(16px);
  /* width: 100px; */
  max-width: 150px;
  /* width: 167.5px; */
  /* height: 53px; */
  border: none;
  outline: none;

  cursor: pointer;
  font-weight: 500;
  font-size: 17px;
  line-height: 21px;
  color: #ffffff;
  padding: 15px 25px;
}

.choise__btn {
  margin: 0 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(25, 30, 67, 0.94);
  /* background: #4a4e66; */

  border-radius: 15px;
  backdrop-filter: blur(16px);
  max-width: 150px;
  /* width: 167.5px; */
  /* height: 53px; */
  border: none;
  outline: none;

  cursor: pointer;
  font-weight: 500;
  font-size: 17px;
  line-height: 21px;
  color: #ffffff;
  padding: 10px 15px;
}

.comment {
  margin: 0 25px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background: rgba(25, 30, 67, 0.94); */
  background: #4a4e66;

  backdrop-filter: blur(16px);
  /* width: 167.5px; */
  height: 53px;
  width: 350px;
  text-align: center;
  border-radius: 5px;
  border: none;
  outline: none;
  /* font-weight: 500; */
  font-size: 17px;
  line-height: 21px;
  color: #ffffff;
}

.loading__text {
  font-weight: 500;
  font-size: 17px;
  line-height: 21px;
  color: #ffffff;
  margin-bottom: 10px;
}
.loading__modal {
  display: flex;
  align-items: center;
  justify-content: center;

  /* background: rgba(25, 30, 67, 0.94); */
  background: #4a4e66;

  width: 100%;
  height: 100%;
}
.loading__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loading__spin {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  /* border: 0.2em solid rgba(36, 36, 36, 0.3); */
  /* border: 0.2em solid rgba(255, 255, 255, 0.3); */
  border: 0.2em solid #4b58b0;
  border-radius: 50%;
  border-top-color: #ffffff;
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
}
@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}

.choosen-page {
  text-align: center;
  box-sizing: border-box;
  padding: 16px;
  width: 100%;
  height: 100%;
  background: #4a4e66;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #ffffff;
}
.choosen-page__controls {
  display: flex;
  padding: 40px 16px;
  /* justify-content: space-between; */
  justify-content: center;
  align-items: center;
}

.indicator {
  position: absolute;
  right: 0;
  z-index: 100px;

  margin: 15px;
}
.indicator__red {
  width: 15px;
  height: 15px;
  background-color: #eb6a3b;
  border-radius: 50px;
}
.indicator__green {
  width: 15px;
  height: 15px;
  background-color: #8be64c;
  border-radius: 50px;
}

.image {
  /* height: 50px; */
  height: 100px;
  margin: 5px;
  /* cursor: pointer; */
  pointer-events: none;
}
.image_selected {
  height: 50px;
  margin: 5px;
  cursor: pointer;

  box-shadow: 1px 1px 5px #8be64c;
}

/* *::-webkit-media-controls-panel {
  display: none !important;
  -webkit-appearance: none;
}


*::-webkit-media-controls-play-button {
  display: none !important;
  -webkit-appearance: none;
}



*::-webkit-media-controls-start-playback-button {
  display: none !important;
  -webkit-appearance: none;
} */
